.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/wild-lice-data/raw-scfs-data/Morton/2016 Ecology Data Paper
/data/wild-lice-data/raw-scfs-data/Morton/
/data/farm-data/raw/BAMP_farm_inventory
/data/sr-data/NuSEDS/NuSEDS_20220902.csv
/data/
